<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <p role="alert" class="container mt-4">Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>
